# eutardigrada-actiion.local
#   © 2025 YOCKOW.
#     Licensed under MIT License.
#     See "LICENSE.txt" for more information.

[INCLUDES]

before =

[Definition]

actionstart =

actionstop =

actioncheck =

actionban = %%utils_dir%%/ban-ip <ip> --timeout 72h

actionunban = %%utils_dir%%/unban-ip <ip>

[Init]

name = eutardigrada-action