# eutardigrada-apache-client-error.local
#   © 2025 YOCKOW.
#     Licensed under MIT License.
#     See "LICENSE.txt" for more information.

[Definition]
acceptable_paths = /(?:favicon\.ico|robots\.txt)

# Example: x.x.x.x - - [14/Aug/2025:10:03:14 +0900] "GET /path/to/file HTTP/1.1" 403 199
failregex   = ^<HOST> .+ 4\d\d \d+$
ignoreregex = "GET %(acceptable_paths)s HTTP/\d+\.\d+"
